body {
	background-color: #E5DEE3;
	position: relative;
	  width: 1000px; 
	  margin: 0 auto; 
}

#page{
	background-color: #000000;
}

#header {
	background-color: #000000;
}

#nav{
	background-color: #000000;
	color: white;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 1em;	
	padding: 1em; 
	width: 200px;
}

#content{
	background-color: #FFFFFF;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 1em;
	margin-right: 1em;
	padding: 1em; 
	width: 710px;
}

h1 {
	font-size: 13px;
	padding: 1em;
	color: #FFFFFF;
}

h2 {
	font-size: 13px;
	color: #FFFFFF;
}

h3 {
	font-size: 13px;
	color: #000000;
}

li {
  list-style-type: none;
  padding: 5px;
}

li a {
    display: block;
    width: 100px;
	color: #FFFFFF;
	
	padding: 5px 0px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	width: 200px;
    background-color: #000000;
}



/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}



