body {
	background-color: #E5DEE3;
	position: relative;
	  width: 1000px; 
	  margin: 0 auto; 
	font-size: 13px;
	font-family: "Times New Roman", Times, serif;
}

#page{
	background-color: #000000;
}

#header {
	background-color: #000000;
}

#nav{
	display: inline-block;
	width: 200px;
	vertical-align: top;
	background-color: #000000;
	color: white;
	padding: 0;
}

#content{
	display: inline-block;
	width: 700px;
	vertical-align: top;
	background-color: #FFFFFF;
	margin-bottom: 1em;
	margin-right: 1em; 
	padding: 0em 3em; /*abstand text zu rand*/
}

#contact{
	font-size: 13px;
	padding: 0em 1em;
}

h1 {
	font-size: 13px;
	padding: 0em 1em;
	color: #FFFFFF;
}

h2 {
	font-size: 13px;
	padding: 0em 1em;
	color: #FFFFFF;
}

h3 {
	font-size: 13px;
	color: #000000;
}

li {
	list-style-type: none;
	border-bottom: 1px solid #484848;
}

ul {
    list-style-type: none;
    margin: 0;
	padding: 0;
    background-color: #000000;
	border: 1px solid #484848;
}

li a {
    display: block;
	color: #FFFFFF;
	padding: 0.5em 1em;
    text-decoration: none;
}

/*funktioniert irgendwie noch nicht!!*/
li a.active {
    background-color: green;
    color: white;
}

/* Change the link color on hover */
li a:hover:not(.active) {
    background-color: blue;
    color: white;
}

li:last-child {
    border-bottom: none;
}










